{% extends "base.html" %}

{% block content %}
<H1>Авторская страница</H1>
<TABLE>
    <TR>
        <TH><IMG src="static/img/anna_auth_page.jpg" width="300" height="309"></TH>
        <TH>
            <DIV class="alert alert-success" role="alert">
                <p>Я решила создать сайт об Анне Ахматовой, так как мне интересен творческий путь этой писательницы.<BR>Она
                    творила в очень непростое время, время, которое заставило многих предать свои идеи и променять свое
                    мнение на благосклонность власти. Анна Андреевна, несмотря на все преграды, осталась верна себе и,
                    хоть и, возможно, поздно, получила признание.<BR>Также нельзя оставить без внимания жизненный путь
                    писательницы.</p>
                <HR>
                <P class="mb-0">Я надеюсь, что на моем сайте Вы найдете много полезной и интересной информации.</P>
                <HR>
                <H3>Сирожова Милана</H3>
            </DIV>
        </TH>
    </TR>
</TABLE>
{% endblock %}