{% extends "base.html" %}

{% block content %}
<H1>Биография</H1>
<DIV class="alert alert-success" role="alert">
    Детство и юность
</DIV>
<TABLE>
    <TR>
        <TH>Анна Ахматова родилась в 1889 году под Одессой в семье потомственного дворянина, Андрея Гóренко.
            Отец боялся, что поэтические увлечения дочери опозорят его фамилию, поэтому еще в юном возрасте
            будущая поэтесса взяла себе творческий псевдоним — Ахматова в честь прабабушки Инны Эразмовны.
            Детство Анны Ахматовой прошло в Царском селе. Свое первое стихотворение юная поэтесса написала в 11
            лет.Ахматова училась в Царскосельской женской гимназии «сначала плохо, потом гораздо лучше, но
            всегда неохотно».
        </TH>
        <TH><IMG src="static/img/anna_baby.jpg" width="270" height="218"></TH>
    </TR>
</TABLE>

<TABLE>
    <TR>
        <TH><IMG src="static/img/mom_dad.jpg" width="300" height="204"></TH>
        <TH>Позже мать Анны Ахматовой рассталась с мужем и уехала в Евпаторию лечить обострившийся у детей туберкулез. В
            следующие годы девочка переехала к родственникам в Киеве — там она окончила Фундуклеевскую гимназию.
        </TH>
    </TR>
</TABLE>
<DIV class="alert alert-danger" role="alert">Личная жизнь</DIV>
<TABLE>
    <TR>
        <TH>С первым супругом, тоже известным поэтом, Николаем Гумилёвым, Анна познакомилась в ранней юности, ещё во
            время учёбы в Царскосельской гимназии. Ей тогда было всего 14 лет, ему – 17. Он несколько раз просил руки
            Анны, но она отказывала ему, а согласилась спустя 7 лет после знакомства. Брак Ахматовой и Гумилева распался
            в августе 1918 года.
        </TH>
        <TH><IMG src="static/img/gumilyov.jpg" width="200" height="200"></TH>
    </TR>
</TABLE>

<TABLE>
    <TR>
        <TH><IMG src="static/img/shileyko.jpg" width="164" height="210"></TH>
        <TH>Поэтесса вышла замуж за Владимира Шилейко — востоковеда и поэта, специалиста по Древнему Египту. В 1921 году
            Гумилева арестовали, а затем расстреляли — поэта обвинили в причастности к контрреволюционному заговору.
            Ахматова писала в дневнике: «Блок, Гумилев, Хлебников умерли почти одновременно. Ремизов, Цветаева и
            Ходасевич уехали за границу, там же были Шаляпин, Михаил Чехов и половина балета».
        </TH>
    </TR>
</TABLE>
<TABLE>
    <TR>
        <TH>После развода с Шилейко поэтесса впервые официально получила фамилию Ахматова — ранее в ее документах
            значились фамилии мужей. В 1922 году Ахматова стала женой искусствоведа Николая Пунина, однако их брак не
            был зарегистрирован.
        </TH>
        <TH><IMG src="static/img/punin.jpg" width="180" height="237"></TH>
    </TR>
</TABLE>

<DIV class="alert alert-secondary" role="alert">Аресты сына</DIV>
<TABLE>
    <TR>
        <TH><IMG src="static/img/lev.jpg" width="200" height="284"></TH>
        <TH>Сразу после развода с Николаем Гумилёвым сына Льва Анна отдала на воспитание свекрови. Долгие годы её
            участие в его жизни сводилось к отправке денег на его содержание. Лишь в конце 1920-х годов Лев, уже зрелым
            юношей, перебрался в дом Ахматовой и Пунина. Почти сразу же у него начались проблемы. В первый раз его
            арестовали в 1933 году по чистой случайности, но это повлекло отметку в его деле.
        </TH>
        <TH><IMG src="static/img/lev_prison.jpg" width="180" height="261"></TH>
    </TR>
</TABLE>
<TABLE>
    <TR>
        <TH><IMG src="static/img/lev_mom.jpg" width="270" height="181"></TH>
        <TH>В 1935 году, после убийства Кирова, в Ленинграде начались массовые аресты людей с "плохим" социальным
            происхождением и родственников "врагов народа". Под эту волну репрессий попал в октябре 1935 года и Лев
            Гумилев, будучи сыном "врага народа" Николая Гумилева, а также не единожды отрицательно отзываясь о самом
            Сталине, антипатии к пролетариату и симпатии к дворянству. Тогда же задержали и Николая Пунина, третьего
            мужа Анны Ахматовой. От них добились признательных показаний, пытались получить санкции и на арест поэтессы.
        </TH>
    </TR>
</TABLE>
<TABLE>
    <TR>
        <TH>Во второй раз Льва Гумилева, уже студента Ленинградского университета, арестовали в 1938 году. Причиной стал
            конфликт между Гумилевым и профессором Л.Пумпянским на лекции, посвященной русской поэзии начала XX века.
            Преподаватель начал высмеивать творчество отца Льва. На этот раз срок заключения составил 5 лет. Третий
            арест Льва Гумилева пришелся на ноябрь 1949 года и вновь с Николаем Пуниным. Причиной считал общение матери
            с сотрудником британского посольства, литературоведом Исайей Берлиным. В это раз его приговорили к 10 годам
            заключения: несколько лет в Караганде, затем в Кемеровской области и Омске.
        </TH>
        <TH><IMG src="static/img/pump.jpg" width="197" height="278"></TH>
    </TR>
</TABLE>
<TABLE>
    <TR>
        <TH><IMG src="static/img/berlin.jpg" width="180" height="230"></TH>
        <TH>В 1935 году, после убийства Кирова, в Ленинграде начались массовые аресты людей с "плохим" социальным
            происхождением и родственников "врагов народа". Под эту волну репрессий попал в октябре 1935 года и Лев
            Гумилев, будучи сыном "врага народа" Николая Гумилева, а также не единожды отрицательно отзываясь о самом
            Сталине, антипатии к пролетариату и симпатии к дворянству. Тогда же задержали и Николая Пунина, третьего
            мужа Анны Ахматовой. От них добились признательных показаний, пытались получить санкции и на арест поэтессы.
        </TH>
    </TR>
</TABLE>
<DIV class="alert alert-warning" role="alert">Годы Великой Отечественной Войны</DIV>
<TABLE>
    <TR>
        <TH>«Отечественная война 1941 года застала меня в Ленинграде», — писала поэтесса в воспоминаниях. Ахматову
            эвакуировали сначала в Москву, затем в Ташкент —
            там она выступала в госпиталях, читала стихи раненым солдатам и «жадно ловила вести о Ленинграде, о фронте».
            В Северную столицу поэтесса смогла вернуться лишь в 1944 году.
        </TH>
        <TH><IMG src="static/img/voyna.jpg" width="300" height="157"></TH>
    </TR>
</TABLE>
<DIV class="alert alert-primary" role="alert">Иностранные веяния и запрет на печать</DIV>
<TABLE>
    <TR>
        <TH><IMG src="static/img/leningrad.jpg" width="200" height="265"></TH>
        <TH>Постановление Оргбюро ЦК ВКП(б) о журналах «Звезда» и «Ленинград»
            от 14 августа 1946 года: <BR>«Журнал «Звезда» всячески популяризирует также
            произведения писательницы Ахматовой, литературная и общественно-политическая
            физиономия которой давным-давно известна советской общественности. Ахматова является типичной
            представительницей чуждой нашему народу пустой безыдейной поэзии. Её стихотворения, пропитанные духом
            пессимизма и упадочничества, выражающие вкусы старой салонной поэзии, застывшей на позициях
            буржуазно-аристократического эстетства и декадентства, «искусстве для искусства», не желающей идти в ногу со
            своим народом наносят вред делу воспитания нашей молодёжи и не могут быть терпимы в советской литературе.
            <BR>Предоставление Зощенко и Ахматовой активной роли в журнале, несомненно, внесло элементы идейного
            разброда и дезорганизации в среде ленинградских писателей. В журнале стали появляться произведения,
            культивирующие
            несвойственный советским людям дух низкопоклонства перед современной буржуазной культурой Запада.
        </TH>
        <TH><IMG src="static/img/zvezda.jpg" width="180" height="254"></TH>
    </TR>
</TABLE>

<DIV class="alert alert-success" role="alert">Восстановление</DIV>
<TABLE>
    <TR>
        <TH><IMG src="static/img/fadeev.jpg" width="250" height="200"></TH>
        <TH>В 1951 19 января, по предложению Александра Фадеева, Анна Ахматова была восстановлена в Союзе советских
            писателей.
        </TH>
    </TR>
</TABLE>
<TABLE>
    <TR>
        <TH><IMG src="static/img/oksford.jpg" width="300" height="224"></TH>
        <TH>«Хрущёвская оттепель» несколько смягчила положение поэтессы, но, получившая к тому времени мировое признание
            (в 1964 году её была вручена в Италии международная литературная премия «Этна-Таормина», а в 1965 –
            присуждена почётная степень доктора Оксфордского университета), у себя на родине Ахматова не была удостоена
            ни чинов, ни наград. Но поэтесса не унижала себя обвинениями в адрес эпохи, изломавшей её судьбу: «Я не
            переставала писать стихи. Для меня в них– связь моя со временем, с новой жизнью моего народа. Когда я писала
            их, я жила теми ритмами, которые звучали в героической истории моей страны. Я счастлива, что жила в эти годы
            и видела события, которым не было равных».
        </TH>
        <TH><IMG src="static/img/etna.jpg" width="300" height="204"></TH>
    </TR>
</TABLE>

<DIV class="alert alert-info" role="alert">Последние годы жизни</DIV>
<TABLE>
    <TR>
        <TH>
            <BR>5 марта — умерла от сердечной недостаточности в санатории «Подмосковье» в Домодедове.
            <BR>Власти планировали установить на могиле обычную для СССР пирамидку, однако Лев Гумилёв вместе со своими
            студентами построил памятник матери самостоятельно, собрав камни, где смог, и выложив стену, как символ
            стены «Крестов» (следственный изолятор в Петербурге), под которой стояла его мать с передачами
        </TH>
        <TH><IMG src="static/img/mogila.jpg" width="350" height="262"></TH>
    </TR>
</TABLE>

<DIV class="alert alert-danger" role="alert">Интересные факты об Анне Ахматовой вы можете прочитать <A href="/facts">здесь</A></DIV>

{% endblock %}