{% extends "base.html" %}

{% block content %}
<H1>Творческий путь</H1>

<CENTER>
    <P>
    <table border="2" bordercolor="#548DD4" border-collapse="separate" cellpadding=15 cellspacing=5 width="650"
           height="150" align="middle" bgcolor="#dcf7f5">
        <TR>
            <TH>Главные темы творчества Анны Ахматовой</TH>
        </TR>
        <TR>
            <td>Любовь (образ отвергнутой женщины)</td>
            <td>1912-1917</td>
        </TR>
        <TR>
            <td>Увядающая родина и общество</td>
            <td>1917-1941</td>
        </TR>
        <TR>
            <td>Война и Ленинград</td>
            <td>1941-1944</td>
        </TR>
        <TR>
            <td>Жизнь и место человека в мире, поэзия и предназначение поэта</td>
            <td>1951-1964</td>
        </TR>
    </TABLE>
    </P>
</CENTER>

<DIV class="alert alert-warning" role="alert">
    Стихотворения Анны Ахматовой можно прочитать <a href="/poems">здесь</a>
</DIV>

<DIV class="alert alert-primary" role="alert">Начало карьеры</DIV>
<P>
<TABLE>
    <TR>
        <TH><IMG src="static/img/anna_gumilev.jpg" width="365" height="200"></TH>
        <TH>Анна встретила будущего мужа Николая Гумилева, когда училась в Царском селе. Он оказал на нее большое
            влияние. В 1907 году он помог ей представить свое творение обществу. Речь идет о работе «На руке его много
            блестящих колец», которая была опубликована в журнале «Сириус». Гумилев помогал супруге с публикацией
            стихотворений. Анна не стала подписывать работы фамилией мужа.
        </TH>
    </TR>
</TABLE>
</P>

<P>
<TABLE>
    <TR>
        <TH>В начале своего творчества она пошла путем акмеизма — представляла новое литературное течение, которое
            противостояло символизму XIX века. Ахматова вместе с Гумилевым, Городецким, Мандельштамом и другими поэтами
            провозглашала культ конкретности, материальность, «вещественность» литературных образов. В тот период она
            писала много стихов и быстро стала популярной в поэтических кругах. Первую известность поэтессе принесло
            выступление в литературном кабаре «Бродячая собака».
        </TH>
    </TR>
</TABLE>
</P>

<P>
<TABLE>
    <TR>
        <TH>Начиная с 1911 года, стихи поэтессы стали
            регулярно появляться в журналах и газетах. В следующем году она выпустила свой первый сборник, который
            назывался «Вечер». Он содержал 46 стихов, бо́льшая часть которых рассказывала о смерти и расставании.
            Объяснялось это тем, что туберкулез погубил двух сестер Анны, и она свято верила в то, что и сама скоро
            умрет.
        </TH>
        <TH><IMG src="static/img/vecher.jpg" width="200" height="320"></TH>
    </TR>
</TABLE>
</P>

<P>
<TABLE>
    <TR>
        <TH><IMG src="static/img/chotki.jpg" width="225" height="303"></TH>
        <TH>Перед началом Первой Мировой Войны Ахматова опубликовала второй сборник стихотворений — «Четки». Ей
            казалось, что эта книга любовной лирики могла бы «потонуть» в мировых событиях того времени. Однако в
            течение следующего десятилетия сборник переиздавался восемь раз.
        </TH>
    </TR>
</TABLE>
</P>

<DIV class="alert alert-dark" role="alert">Первая Мировая война</DIV>
<P>
<TABLE>
    <TR>
        <TH> В 1914 году Николай Гумилев ушел на фронт, и Анна Ахматова проводила много времени в Слепневе — имении
            Гумилевых в Тверской губернии. Здесь она написала большую часть стихотворений, которые вошли в следующий
            сборник — «Белая стая», опубликованный в 1917 году он отразил появление в творчестве Анны Андреевной новых
            тенденций, обусловленных изменениями общественно-политической обстановки в России. Мировая война,
            национальные бедствия, приближение революции, дыхание которой уже явно ощущалось в атмосфере советской
            жизни, обостряют у Ахматовой чувство сопричастности к судьбам страны, народа, истории. Расширяется
            тематический диапазон её лирики, в ней усиливаются мотивы трагического предчувствия горькой участи целого
            поколения русских людей.
        </TH>
        <TH><IMG src="static/img/gumilyov_front.jpg" width="200" height="250"></TH>
    </TR>
</TABLE>
</P>


<P>
<TABLE>
    <TR>
        <TH><IMG src="static/img/anno_domini.jpg" width="300" height="227"></TH>
        <TH>Пятнадцать предвоенных лет были самыми страшными в жизни Ахматовой. Но она всё равно печаталась. Был создан
            сборник «Anno Domini» (1922), что в переводе с латинского означает «В лето Господне 1921». Критика встретила
            книгу по-разному. Г. Лелевич обвинил Ахматову в «мистическом национализме» М. Кузмин, Ю. Тынянов, М. Шагинян
            увидели в этой книге «перепевы старой ахматовской манеры» .
        </TH>
    </TR>
</TABLE>
</P>

<DIV class="alert alert-danger" role="alert">Большой террор</DIV>
<P>
<TABLE>
    <TR>
        <TH>Ответом Ахматовой на ужасы Большого террора, стал «Реквием», создававшийся с 1935 по 1940 годы, но
            опубликованный только в 80-е. Автобиографичность «Реквиема» очевидна, но драма женщины, потерявшей мужа и
            сына («Муж в могиле, сын в тюрьме – помолитесь обо мне…»), - это отражение трагедии всего народа.
            Творчество поздней Ахматовой – реквием своей эпохе. Почти нет стихов о любви, но есть «Венок мёртвым» - цикл
            стихотворений, посвящённый памяти Булгакова, Мандельштама, Пастернака, Зощенко, Марины Цветаевой.
            Ответом на тяжелые годы испытаний, пережитых народом в годы Великой Отечественной войны, становится цикл
            стихотворений «Ветер войны», вошедший в сборник, под названием «Седьмая книга».
        </TH>
        <TH><IMG src="static/img/rekviem.jpg" width="320" height="240"></TH>
    </TR>
</TABLE>
</P>

<P>
<TABLE>
    <TR>
        <TH><IMG src="static/img/slava_miru.jpg" width="527" height="250"></TH>
        <TH>Однажды Анне пришлось приступиться принципами и написать стихотворение, восхваляющее власть. "Слава миру!"
            – это мольба Вождю народов о помиловании мужа и сына. Многие назвали Анну предательницей
            собственных идей, но писательница на этот раз предпочла семью карьере.
            <BR>«Светочем» она называет душегуба Сталина, что приговорил её мужа и сына к исправительным лагерям. Под
            словами о мире она подразумевает Иосифа Виссарионовича.
            Парадоксально, что в стихотворении Сталин «сеет прекрасные зёрна свободы», в то время как тысячи людей
            отбывают незаслуженное наказание.
            <BR>Это произведение является покаянием гордой поэтессы суровым законам сталинского общества.
        </TH>
    </TR>
</TABLE>
</P>

<DIV class="alert alert-dark" role="alert">Вторая Мировая война</DIV>

<TABLE>
    <TR>
        <TH>Перед войной вышел шестой сборник Ахматовой — «Из шести книг». «Отечественная война 1941 года застала меня в
            Ленинграде», — писала поэтесса в воспоминаниях.
            <BR>«Страшный призрак, притворяющийся моим городом, так поразил меня, что я описала эту мою с ним встречу в
            прозе… Проза всегда казалась мне и тайной, и соблазном. Я с самого начала все знала про стихи — я никогда
            ничего не знала о прозе».
        </TH>
        <TH><IMG src="static/img/voyna.jpg" width="300" height="157"></TH>
    </TR>
</TABLE>
<DIV class="alert alert-warning" role="alert">Иностранные веяния и запрет на печать</DIV>
<TABLE>
    <TR>
        <TH><IMG src="static/img/leningrad.jpg" width="200" height="265"></TH>
        <TH>Постановление Оргбюро ЦК ВКП(б) о журналах «Звезда» и «Ленинград»
            от 14 августа 1946 года: <BR>«Журнал «Звезда» всячески популяризирует также
            произведения писательницы Ахматовой, литературная и общественно-политическая
            физиономия которой давным-давно известна советской общественности. Ахматова является типичной
            представительницей чуждой нашему народу пустой безыдейной поэзии. Её стихотворения, пропитанные духом
            пессимизма и упадочничества, выражающие вкусы старой салонной поэзии, застывшей на позициях
            буржуазно-аристократического эстетства и декадентства, «искусстве для искусства», не желающей идти в ногу со
            своим народом наносят вред делу воспитания нашей молодёжи и не могут быть терпимы в советской литературе.
            <BR>Предоставление Зощенко и Ахматовой активной роли в журнале, несомненно, внесло элементы идейного
            разброда и
            дезорганизации в среде ленинградских писателей. В журнале стали появляться произведения, культивирующие
            несвойственный советским людям дух низкопоклонства перед современной буржуазной культурой Запада.
        </TH>
        <TH><IMG src="static/img/zvezda.jpg" width="180" height="254"></TH>
    </TR>
</TABLE>

<DIV class="alert alert-success" role="alert">Восстановление</DIV>
<TABLE>
    <TR>
        <TH><IMG src="static/img/fadeev.jpg" width="250" height="200"></TH>
        <TH>В 1951 19 января, по предложению Александра Фадеева, Анна Ахматова была восстановлена в Союзе советских
            писателей.
        </TH>
    </TR>
</TABLE>
<TABLE>
    <TR>
        <TH><IMG src="static/img/anna_old_write.jpg" width="270" height="298"></TH>
        <TH>«Хрущёвская оттепель» несколько смягчила положение поэтессы, но, получившая к тому времени мировое признание
            (в 1964 году её была вручена в Италии международная литературная премия «Этна-Таормина», а в 1965 –
            присуждена почётная степень доктора Оксфордского университета), у себя на родине Ахматова не была удостоена
            ни чинов, ни наград. Но поэтесса не унижала себя обвинениями в адрес эпохи, изломавшей её судьбу: «Я не
            переставала писать стихи. Для меня в них– связь моя со временем, с новой жизнью моего народа. Когда я писала
            их, я жила теми ритмами, которые звучали в героической истории моей страны. Я счастлива, что жила в эти годы
            и видела события, которым не было равных».
        </TH>
    </TR>
</TABLE>
<TABLE>
    <TR>
        <TH><IMG src="static/img/anna_sity.jpg" width="300" height="168"></TH>
        <TH>Триумфальное шествие в конце жизни по Европе - Таормина и Оксфорд - было для Ахматовой не столько личной
            победой, сколько признанием внутренней правоты поэта, которую отстаивала она и другие. И почести, которыми
            осыпали ее на Сицилии и в Англии, воспринимались ею не только как личные - они воздавались и тем, кто не
            дожил до этого, как Мандельштам и Гумилев. Она принимала их как поэт, познавший, что на самом деле значит
            быть русским поэтом в эпоху, которую она называла «Настоящим Двадцатым Веком».
        </TH>
        <TH><IMG src="static/img/anna_old.jpg" width="320" height="179"></TH>
    </TR>
</TABLE>
<DIV class="alert alert-info" role="alert">Последние годы жизни</DIV>
<TABLE>
    <TR>
        <TH><IMG src="static/img/anna_last.jpg" width="300" height="283"></TH>
        <TH>1958— вышел сборник «Стихотворения»
            <BR>1962— закончила «Поэму без героя», над которой работала двадцать два года, как заметил поэт и мемуарист
            Анатолий Найман, эта поэма написана Ахматовой поздней об Ахматовой ранней — она вспоминала и размышляла об
            эпохе, которую застала.
            <BR>В мае 1964 года в Музее Маяковского в Москве прошел вечер, посвященный 75-летию поэтессы. На следующий
            год
            вышел последний прижизненный сборник стихов и поэм — «Бег времени».
            <BR>«Я не переставала писать стихи. Для меня в них — связь моя с временем, с новой жизнью моего народа.
            Когда я
            писала их, я жила теми ритмами, которые звучали в героической истории моей страны. Я счастлива, что жила в
            эти годы и видела события, которым не было равных».
        </TH>
    </TR>
</TABLE>
{% endblock %}