{% extends "base.html" %}

{% block content %}

<BODY style="background-color:#f2ddc6">
<DIV class="alert alert-info " role="alert">
    <H4 class="alert-heading">Анна Ахматова</H4>
    <P>Русский поэт Серебряного века, переводчица и литературовед, одна из наиболее значимых фигур русской литературы XX
        века.</P>
    <HR>
    <P>23 июня 1889 г. - 5 марта 1966 г.</P>
    <HR>
    <P class="mb-0">"Дар поэта невозможно забрать, кроме таланта ему ничего не нужно."</P>
</DIV>
<IMG src="static/img/anna_main.jpg" width="500" height="555">
</BODY>

{% endblock %}