{% extends "base.html" %}

{% block content %}
<H1>Список источников</H1>
<OL>
    <LI><A class="list-group-item" href="https://vuzlit.ru/573155/sbornik_anno_domini">Архив студенчесих работ</A></LI>
    <LI><A class="list-group-item" href="https://ostihe.ru/analiz-stihotvoreniya/ahmatovoj/dumali-nishhie-my">Анализ стихов русских поэтов</A>
    </LI>
    <LI><A class="list-group-item" href="https://www.culture.ru/persons/8260/anna-akhmatova">Культура</A></LI>
    <LI><A class="list-group-item"
           href="http://ahmatova.niv.ru/ahmatova/kritika/kralin-pobedivshee-slovo/k-istorii-sbornika-slava-miru.htm">Анна Ахматова</A>
    </LI>
    <LI><A class="list-group-item"
           href="https://ru.wikipedia.org/wiki/%D0%90%D1%85%D0%BC%D0%B0%D1%82%D0%BE%D0%B2%D0%B0,_%D0%90%D0%BD%D0%BD%D0%B0_%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B5%D0%B2%D0%BD%D0%B0">Википедия: Анна Ахматова</A>
    </LI>
    <LI><A class="list-group-item"
           href="https://zen.yandex.ru/media/book24/9-porochnyh-faktov-ob-anne-ahmatovoi-kotorye-vam-ne-rasskajut-v-shkole-5b0153327425f529296bc24e">Яндекс.Дзен: 9 фактов об Анне Ахматовой</A>
    </LI>
    <LI><A class="list-group-item" href="https://goldlit.ru/ahmatova/132-poslednee-stihotvorenie-analiz">Goldlit</A>
    </LI>
    <LI><A class="list-group-item" href="https://rustih.ru/citaty-anny-axmatovoj/">РуСтих: Цитаты Анны Ахматовой</A></LI>
    <LI><A class="list-group-item" href="https://rustih.ru/populyarnye-stixi-anny-axmatovoj/">РуСтих: Популярные стихи Анны Ахматовой</A></LI>
    <LI><A class="list-group-item" href="https://faktrus.ru/30-фактов-об-анне-ахматовой/">FAKTRUS: факты об Анне Ахматовой</A></LI>

</OL>
{% endblock %}